<h2>Listing products</h2>

 <div class="products">
    <% @products.each do |product| %>
       <div class="product">      
           <h3><%= product.title %></h3>
           <img src=  <%=  product.image_url%> />
           <p><%= product.description %></p>          
           <p><%= product.price %></p>
         <ul class="product_links">
           <li><%= link_to 'Show', product %></li>
           <li><%= link_to 'Edit', edit_product_path(product) %></li>
           <li><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></li>
         </ul>
      </div>  
    <% end %>
  </div>
<br/>

<%= link_to 'New Product', new_product_path %>
